@model IEnumerable<Web_Application.Models.Product>
@{
    ViewData["Title"] = "Categories";
}
<div class="wrapper">
    <h2 class="text-center mb-5">Categories</h2>
    <div class="row container-fluid">
        <div class="col-3 ">
            <div class="filter">
                <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#mobile-filter" aria-expanded="true" aria-controls="mobile-filter">Filters<span class="fa fa-filter pl-1"></span></button>
            </div>
            <div id="mobile-filter">
                <p class="pl-sm-0 pl-2"> Home | <b>All Breads</b></p>
                <div class="border-bottom pb-2 ml-2">
                    <h4 id="burgundy">Filters</h4>
                </div>
                <div class="py-2 border-bottom ml-3">
                    <h6 class="font-weight-bold">Categories</h6>
                    <div id="orange"><span class="fa fa-minus"></span></div>
                    <form>
                        <div class="form-group">
                            <input type="checkbox" id="artisan">
                            <label for="artisan">Fresh Artisan Breads</label>
                        </div>
                        <div class="form-group">
                            <input type="checkbox" id="breakfast">
                            <label for="breakfast">Breakfast Breads</label>
                        </div>
                        <div class="form-group">
                            <input type="checkbox" id="healthy">
                            <label for="healthy">Healthy Breads</label>
                        </div>
                    </form>
                </div>
                <div class="py-2 border-bottom ml-3">
                    <h6 class="font-weight-bold">Accompainments</h6>
                    <div id="orange"><span class="fa fa-minus"></span></div>
                    <form>
                        <div class="form-group">
                            <input type="checkbox" id="tea">
                            <label for="tea">Tea Cakes</label>
                        </div>
                        <div class="form-group">
                            <input type="checkbox" id="cookies">
                            <label for="cookies">Cookies</label>
                        </div>
                        <div class="form-group">
                            <input type="checkbox" id="pastries">
                            <label for="pastries">Pastries</label>
                        </div>
                        <div class="form-group">
                            <input type="checkbox" id="dough">
                            <label for="dough">Cookie Dough</label>
                        </div>
                        <div class="form-group">
                            <input type="checkbox" id="choco">
                            <label for="choco">Chocolates</label>
                        </div>
                    </form>
                </div>
                <div class="py-2 ml-3">
                    <h6 class="font-weight-bold">Top Offers</h6>
                    <div id="orange"><span class="fa fa-minus"></span></div>
                    <form>
                        <div class="form-group">
                            <input type="checkbox" id="25off">
                            <label for="25">25% off</label>
                        </div>
                        <div class="form-group">
                            <input type="checkbox" id="5off">
                            <label for="5off" id="off">5% off on artisan breads</label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-9">
            <div class="row">
                @{
                    int limit_Quantity = 5;
                    int limit_status = 1;
                }
                @foreach (var item in Model)
                {
                    @if (item.AvailableQuantity > limit_Quantity && item.Status > limit_status)
                    {
                        <div class="col-md-3 col-sm-6">
                            <div class="product-grid2">
                                <div class="product-image2">
                                    <a href="@Url.Action("CategoriesDetails", "Products", new { id = item.Id })">
                                        <img class="pic-1" src="/image/@item.Image" width="280" height="300">
                                        <img class="pic-2" src="/image/@item.Image" width="280" height="300">
                                    </a>
                                    <ul class="social">
                                        <li><a href="@Url.Action("CategoriesDetails", "Products", new { id = item.Id })" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                                        <li><a href="#" data-tip="Add to Wishlist"><i class="fa fa-heart"></i></a></li>
                                        <li><a href="#" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                    <a class="add-to-cart" href="">Add to cart</a>
                                </div>
                                <div class="product-content">
                                    <h3 class="title"><a href="#">@Html.ActionLink(@item.Name, "CategoriesDetails", new { id = item.Id })</a></h3>
                                    <span class="price">$@item.Price</span>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
