<h2>Xin Chao </h2>
@{
    var listString = (ViewData["STRING"] as List<string>);
    var Marks = ViewBag.Marks;
}
@{
    //ViewData
    //foreach (var item in listString)
    //{
    //    <h4>@item</h4>
    //}
    //ViewBag
    //foreach (var item in Marks)
    //{
    //    <h4>@item 🤣-😒 </h4>
    //}
    <h3>Du lieu Session : @ViewData["content"]</h3>
    
}